* {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

#navbar {
    display: flex;
    align-items: center;
    background-color: black;
    height: 85px;
}


#logo img {
    margin: 25px 35px;
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-radius: 35px;

}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 20px;
    font-family: 'Baloo Bhai 2', sans-serif;
}

#navbar ul li a:hover {
    color: black;
    display: block;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: blanchedalmond;
}

#navbar p a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px 20px;
    font-family: 'Baloo Bhai 2', sans-serif;
}

#navbar p a:hover {
    color: black;
    display: block;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: blanchedalmond;
}

/* Home section */

#home {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    justify-content: center;
    align-items: center;
    /* background-image: url('woodenback.jpeg'); */
    background: url('woodback.jpeg');
    height: 300px;
}

#home h1 {}

.sech {
    font-size: 3.5rem;
    font-weight: bolder;
    color: white;
    font-family: 'Baloo Bhai 2', sans-serif;
}

#home p {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: 'Baloo Bhai 2', sans-serif;
}

/* services section */

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    font-family: 'Baloo Bhai 2', sans-serif;
    background: url('back.jpg');
    color: white;
}

#menu {
    display: flex;
}

.food {
    border: 2px solid black;
    height: 400px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 15px;
    border-radius: 20px;
}

.food p {
    font-size: 1rem;
}

.img {
    height: 200px;
    border-radius: 45px;
}

/* conatct */
#conatct {
    position: relative;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('contact-background.jpg');
    height: 420px;
    color: white;
    font-family: 'Baloo Bhai 2', sans-serif;
}

form {
    margin: 10px 10px;
    padding: 10px 10px;
    text-align: right;

}

#name {
    margin: 10px 10px;
    color: rgb(36, 35, 35);
}

.pagal {
    position: relative;
    margin: 10px 66px;
    font-family: 'Baloo Bhai 2', sans-serif;
}

.ban {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: grey;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    margin: 15px 103px;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: 1rem;
}


/* utility */
.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: grey;
    margin: 20px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
}

.hprimary {
    font-size: 3rem;
    color: ;
    padding-right: 12px;
}

.hsecondary {
    font-size: 2rem;
    color: ;
    padding: 12px;
}

.ullu:hover {
    background-color: black;
    color: white;
}

::selection {
    color: white;
    background-color: black;

}

