@media only screen and (max-width:1430px) {
    /* navigation */

    /* home */

    /* services */
    #menu {
        flex-direction: column;
    }

    /* contact */
}

@media only screen and (max-width:680px) {
    #navbar {
        flex-direction: column;
        height: 240px;
    }

}

@media only screen and (max-width:480px) {
    #navbar {
        height: 300px;
    }

    #navbar ul {
        flex-direction: column;
/* display: flex; */
    }

    #navbar ul li a {
        padding: 1px 20px;
    }

}

@media only screen and (max-width:481px) {

    #home{
        width: 400px;
            }
    .sech {
        font-size: 2.5;
    }

    #navbar {
        width: 500px;
        display: flex;
    }

    .services {
        width: 460px;
    }

    #contact {
        width: 500px;
    }
}